# EMACS
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

## Org-mode
.org-id-locations
*_archive

## flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

## elpa packages
.leaf.d/elpa/
.emacs.d/el-get/

## cache
.emacs.d/.cache/
.emacs.d/eshell/

## reftex files
*.rel

## cask
.leaf.d/.cask/
.leaf.d/dist/

## flycheck
flycheck_*.elpa

## server auth directory
/server/

## .projectile
.projectile
projectile-bookmarks.eld

## directory configuration
.dir-locals.el

## network security
/network-security.data

## transient
.leaf.d/transient

## cache
.leaf.d/.cache

## recentf
.leaf.d/recentf

## lsp-mode
.lsp-session-*

## undo-tree
.leaf.d/backup

## ellama-session
.leaf.d/ellama-sessions

## tree-sitter
.leaf.d/tree-sitter

# OTHER
## Unnecessary
.DS_Store

## lima
.lima/_config/
.lima/docker/*
!.lima/docker/lima.yaml

# NEED
!.gitignore
!.Brewfile
!.gitconfig
!.editorconfig
!.tmux.conf
!.tmux/plugins/
!.fish/
!.leaf.d/.init.el
!.leaf.d/custom.el
!.leaf.d/snippets/

# private dotfiles
.ssh
tunnel
.config/fish/variables.fish
.config/fish/private_functions
