[core]
	excludesFile = /Users/toshichika-mashimo/.gitignore_global
	editor = emacs -nw
[push]
	default = current
[user]
	name = Mashimo
	email = toshichika-mashimo@retty.me
[pull]
	ff = only
[url "https://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:x-oauth-basic@github.com/"]
	insteadOf = https://github.com/
