[user]
	name = Toshichika Mashimo
	email = mashita1023@gmail.com
[core]
	editor = emacs -nw
	ignorecase = false
	quotepath = false
	autocrlf = false
  excludesFile = ~/.gitignore_global
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
[status]
	showUntrackedFiles = all
[merge]
	conflictStyle = diff3
[pull]
	ff = only
[push]
	default = current
[credential]
	helper = cache --timeout=86400
[http]
